@import 'src/styles/variables';

.button {
    padding: 16px;
    border-radius: 6px;
    border: 0;
    background: $button_primary_background;

    display: flex;
    align-items: center;
    justify-items: center;

    &:hover:enabled {
        opacity: 0.7;
        cursor: pointer;
    }

    &:disabled {
        background: $button_disabled_background;
    }
}