$main_background: #FFFFFF;
$primary_border: #D9D9D9;
$primary_color: #7E7E7E;
$active_border: #FF5555;

$input_background: #FFFFFF;
$input_disabled_background: #F9F9F9;
$input_border: #FF5555;
$button_primary_background: #FF5555;
$button_disabled_background: #D9D9D9;
$repoTile_hover_shadow: rgba(182, 182, 182, 0.25);
$link_active_color: #208FBF;