.git-repo-tile__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.git-repo-tile__content > * {
    margin-bottom: 4px;
}

.git-repo-tile__content > *:last-child {
    margin-bottom: 0;
}