.git-repo-tile {
    font-family: 'Roboto', sans-serif;
    width: 357px;
    height: 104px;
    display: flex;
    align-items: center;
    padding: 12px;

    border: 1px solid var(--primary_border);
    box-sizing: border-box;
    border-radius: 6px;

    cursor: pointer;
}

.git-repo-tile:hover {
    box-shadow: 0 2px 6px var(--repo-tile_hover_shadow);
}