.search-button {
    padding: 16px;
    border-radius: 6px;
    border: 0;
}

.search-button:enabled {
    background: var(--button_primary_background);
    cursor: pointer;
}

.search-button:hover:enabled {
    opacity: 0.7;
}

.search-button:disabled {
    background: var(--button_disabled_background);
}