.git-repo-tile__additional-info {
    font-size: 14px;
    color: var(--primary_color);
}

.git-repo-tile__additional-info {
    display: inline-block;
}

.git-repo-tile__additional-info > * {
    vertical-align: middle;
}

.git-repo-tile__additional-info span + span {
    margin-left: 20px
}

.git-repo-tile__additional-info img {
    margin-right: 4px;
}