.repos-list {
    padding: 20px;
    width: 100%; /*397px;*/
    box-sizing: border-box;
}

.repos-list__search {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 12px;
    justify-items: stretch;
    margin-bottom: 20px;
}

.repos-list__repos {
    display: grid;
    row-gap: 12px;
    grid-template-columns: 100%;
    justify-items: stretch;
    max-height: 400px;
    overflow: scroll;
}

